################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/MSVC/.vs/ConsoleApplication3/v15
